
 #home-page-root{
  display: flex;
  gap: 0;
  width: 100%;
}
.home-page-left{
  width:70px;
  height:100vh;
}

.home-page-left.open-left{
  width: 200px;
  transition: width 0.4s ease;
}

.home-page-right{
  background-color: #eff1f3;
  width: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  gap: 0;
}

.home-page-right.open-right{
  width: calc(100% - 200px);
  transition: width 0.4s ease;
}

.profile-class{
  /* background-color: brown; */
  margin-top: 60px;
  height: 100%;
  border-radius: 7px;

  .profile-heading{
    box-sizing: border-box;
    height: 40px;
    background-color: blue;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    align-content: center;
    padding-left: 20px;
  }

  .table-class{
    margin-left: 10px;
    margin-right: 10px;
    height:100%;
    /* background-color: chartreuse; */
    padding-top: 20px;


    .roll-number{
      background-color: crimson;
      padding: 7px;
      border-radius: 7px;
      margin-bottom: 20px;
      width: fit-content;
    }
  }
}
